/* CSS gerais da pagina */
*{
    margin: 0;
    box-sizing: border-box;
}


body{
    --bgColor: #F0EDED;

    background-color: #F0EDED;
}

main{

    
    width: 70%;
    margin: 2rem auto 4rem auto;


    
}
    /* remover a <> do input number */
input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }


.descricao{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.submit{
    background-color: #369340;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}
.submit:hover{
    transition: 0.5s all;
    background-color: #2b6e31;
    color: black;
    transform: scale(1.2);
 }

