/* CSS registro de Itens */

table, th, td {
    border:1px solid black;
    
  }


th, td {
    border:1px solid black;
    padding: 0.438rem;
  }

table{
    margin-bottom: 3rem;
}

/* tabela de preços */


.check > .checkNumber{
 width: 4rem;

     
}

.check :hover{
  cursor: pointer;

}


/* detalhe empresas */

.divDetalhes{
  background-color: white;
  width: 70%;
  padding: 2rem;
  margin: auto auto auto auto;
}